<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav-bar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Crom</a>
        </div>
        <!--<ul class="nav navbar-nav">-->
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#">Page 1</a></li>-->
            <!--<li><a href="#">Page 2</a></li>-->
            <!--<li><a href="#">Page 3</a></li>-->
        <!--</ul>-->

        <div class="navbar-right" th:switch="${#authorization.expression('isAuthenticated()')}">
            <p th:case="${true}"><span th:text="${#authentication.principal.displayName}"></span></p>
            <p th:case="${false}"><a th:href="@{/signin}">Login!</a></p>
        </div>
    </div>
</nav>
</body>
</html>
