<div ng-controller="ProjectListing">
    <h2><a ng-href="#/project/{{projectName}}">{{projectName}}</a></h2>
    <a ng-click="watch(projectName)" ng-hide="authToken == null">Watch this Project</a>
    <ul>
        <li ng-repeat="repo in projectDetails.repos">
            <a ng-href="#/project/{{projectName}}/repo/{{repo.name}}">{{repo.name}}</a>
        </li>
    </ul>

    <br />
    <br />
    <button class="btn btn-info" ng-click="displayJson = !displayJson">Show/Hide Json</button>
    <pre ng-hide="!displayJson">{{projectDetails|json}}</pre>
</div>
