<div ng-controller="RepoListing">
    <h2><a ng-href="#/project/{{projectName}}">{{projectName}}</a> / {{repoName}}</h2>
    <table class="table table-striped">
        <tr>
            <td>Name</td>
            <td>Description</td>
        </tr>
        <tr ng-repeat="(key, prop) in linkLess(repoDetails) track by key">
            <td>{{key}}</td>
            <td>{{prop}}</td>
        </tr>
    </table>

    <h3>Resources</h3>
    <a ng-href="#/project/{{projectName}}/repo/{{repoName}}/version">Versions</a><br />

    <br />
    <br />
    <button class="btn btn-info" ng-click="displayJson = !displayJson">Show/Hide Json</button>
    <pre ng-hide="!displayJson">{{repoDetails|json}}</pre>
</div>
