{{#types}}

[[class-documentation-{{className}}]]
.Documentation for {{className}}
[cols="3*", options="header"]
|===
| Path
| Type
| Description

{{#fields}}
|{{path}}
|{{type}}
|{{description}}
{{/fields}}

|===


{{/types}}
