<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/3.1.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/main.css" />
    <script src="/webjars/jquery/2.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="/webjars/angularjs/1.5.8/angular.js"></script>
    <script src="/webjars/angularjs/1.5.8/angular-route.js"></script>
    <script src="/webjars/angularjs/1.5.8/angular-cookies.js"></script>

    <script src='/static/app/app.js'></script>
</head>
<body ng-app="cromApp">


<nav ng-controller="LoginController" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">Crom</a>
        </div>
        <div class="navbar-right">
            <p ng-hide="authToken != null"><a ng-href="/#/login">Login!</a></p>
            <p ng-hide="authToken == null"><a ng-href="/#/login">Log Out</a></p>
        </div>
    </div>
</nav>

<div ng-view=""></div>
</body>
</html>
