<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header" ></head>
<body>
<nav th:include="fragments/top-nav :: nav-bar"></nav>
<h1>Welcome to Crom Version Management</h1>

<div th:switch="${#authorization.expression('isAuthenticated()')}">
    <p th:case="${true}">Welcome <span th:text="${#authentication.principal.displayName}"></span></p>
    <p th:case="${false}"><a th:href="@{/signin}">Login!</a></p>
</div>
<br />
<br />
Your projects:
<ul>
    <li>TBD</li>
</ul>
</body>
</html>
