<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Welcome to Conrad Version Management</h1>

<div th:switch="${#authorization.expression('isAuthenticated()')}">
    <p th:case="${true}">Welcome <span th:text="${#authentication.principal.getNiceName()}"></span></p>
    <p th:case="${false}"><a th:href="@{https://github.com/login/oauth/authorize(scope='user:email',client_id=${token})}">Login with GitHub</a></p>
</div>
<br />
<br />
Your projects:
<ul>
    <li>TBD</li>
</ul>
</body>
</html>
